<!DOCTYPE HTML>
<html>
	<head>
		<title> Otros {{ titulo }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="back/assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header }}

		<!-- Nav -->
			{{> navbar }}

		<!-- Main -->
			<div id="main" class="container">
				<!-- Elements -->
					<h2 id="elements">ANIMALES FAVORITOS</h2>
					<div class="row 200%">
						<div class="6u 12u$(medium)">
							<!-- Blockquote -->
								<h3>Pulpo</h3>
								<blockquote>Son un orden de moluscos cefalópodos octopodiformes conocidos comúnmente como pulpos. Al igual que otros cefalópodos, el pulpo es bilateralmente simétrico, con la boca y el pico situados en el punto central de sus ocho extremidades. Tienen un cuerpo blando que puede alterar rápidamente su forma, permitiendo que se escurran a través de pequeñas grietas. Arrastran sus ocho apéndices detrás de ellos mientras nadan. Utilizan el sifón tanto para la respiración como para la locomoción, expulsando un chorro de agua. Cuentan con un sistema nervioso complejo y una vista excelente y se encuentran entre los invertebrados más inteligentes y de mayor diversidad conductual.</blockquote>

							<!-- Table -->
								<h3>Tabla</h3>

								<h4>Top</h4>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>#</th>
												<th>Nombre</th>
												<th>Descripción</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Pulpo de anillos azules</td>
												<td>reconocidos como uno de los animales más venenosos del mundo.</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Mamba negra</td>
												<td>extremadamente venenosa que habita en diversas zonas del África subsahariana.</td>
											</tr>
											<tr>
												<td>3</td>
												<td>viuda negra</td>
												<td>Las viudas negras no son agresivas y no tienen el instinto de morder; son tímidas, sedentarias, solitarias, caníbales y nocturnas. </td>
											</tr>
											<tr>
												<td>4</td>
												<td>pez cirujano</td>
												<td>Defiende con mucha agresividad su territorio en el arrecife de machos territoriales de su misma especie.</td>
											</tr>
											<tr>
												<td>5</td>
												<td>Arapaima</td>
												<td>Es una especie de pez osteoglosiforme de la familia Arapaimidae. Es el segundo pez de agua dulce más grande del mundo</td>
											</tr>
										</tbody>
									</table>
								</div>

								<h4>Alternativa</h4>
								<div class="table-wrapper">
									<table class="alt">
										<thead>
											<tr>
												<th>#</th>
												<th>Nombre</th>
												<th>Descripción</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Dóberman</td>
												<td>es una raza canina que debe su nombre al alemán Karl Friedrich Louis Dobermann.</td>
											</tr>
											<tr>
												<td>2</td>
												<td>Pez remo</td>
												<td>Esta especie es el pez óseo más largo del mundo, alcanzando una longitud de registro de 11 metros.</td>
											</tr>
											<tr>
												<td>3</td>
												<td>Langosta Mantis</td>
												<td>la capacidad de distinguir la luz polarizada y reaccionar ante ella; el aspecto externo destacado de los ojos y su carácter de depredadores que consumen vorazmente a otros animales.</td>
											</tr>
											<tr>
												<td>4</td>
												<td>Guepardo</td>
												<td> Es el único representante vivo del género Acinonyx. </td>
											</tr>
											<tr>
												<td>5</td>
												<td>Búho manchado </td>
												<td>Alcanza unos 45 cm de media y pesa entre 490 y 620 los machos y las hembras que son más grandes pesan entre 640 y 890 gramos. Su envergadura es de 100 a 113 cm.</td>
											</tr>
										</tbody>
									</table>
								</div>

						</div>
						<div class="6u$ 12u$(medium)">
							<!-- Image -->
								<h3>ANIMALES</h3>

								<h4># 01.</h4>
								<span class="image fit"><img src="images/octopus.jpg" alt="" /></span>

								<h4>Información </h4>
								<p><span class="image left"><img src="images/lynx.jpg" alt="" /></span> Se conocen cuatro especies caracterizadas por su tamaño medio, fuertes patas, largas orejas, cola corta y cuerpo más o menos moteado. Todas las especies habitan exclusivamente en el Hemisferio Norte, en Eurasia y Norteamérica (de donde parecen ser originarios). Se han descrito las siguientes especies: 
									- lince canadiense
									- lince boreal o eurasiático
									- lince ibérico
									- lince rojo 
								</p>
								<p><span class="image right"><img src="images/snake.jpg" alt="" /></span>La  BOA ESMERALDA es una especie de serpiente de la familia de las boas (Boidae). Habita en las selvas tropicales del norte de América del Sur, más concretamente el Amazonía peruano, Bolivia y selva tropical de Brasil. Aunque habita generalmente en selvas tropicales lluviosas, en ocasiones se han encontrado ejemplares en zonas algo más secas.</p>
								<p><span class="image left"><img src="images/mantis.jpg" alt="" /></span>Se trata de un crustáceo cuyo nombre deriva del insecto conocido como mantis religiosa. Uno de los principales parecidos que tiene con este insecto son las extremidades traseras de modo raptor. Además, posee una capacidad alta de poder mimetizarse con el ambiente que la rodea, por lo que su instinto de supervivencia es bastante alto. Pueden apreciar la luz polarizara y reaccionar ante la misma. Entre los rasgos más destacables se encuentran sus enormes ojos con forma protuberante. Nos lo encontramos con diferentes tamaños que van entre los 30 y 38 centímetros. Con ese tamaño y esta apariencia tan horripilante, estamos hablando de un animal bastante temido por los que se encuentran alrededor suyo.</p>

						</div>
					</div>

			</div>

		<!-- Footer -->
			{{> footer }}

	</body>
</html>