<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Historias {{ titulo }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="back/assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			{{> header }}

		<!-- Nav -->
			{{> navbar }}
		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Amigos en lugares al azar</h2>
							<p>01.01.2017</p>
						</header>
						<div class="content">
							<p>Una de las personas que más echo de menos de mis viajes es David, natural de California (si mal no recuerdo). Trabajaba en Suecia hasta que un día decidió coger su bici y viajar por toda Europa. Lo conocimos yo y mi amigo por primera vez en Saravejo y nos llevó a visitar la ciudad. Fuimos a una cafetería muy acogedora escondida en mitad de las montañas y visitamos una pista Olímpica abandonada. ¡Fue un guía turístico increíble!
								Después, debido a esas coincidencias locas de la vida, lo encontramos de nuevo en Belgrado, donde fuimos a tomar unas cervezas y algunos vodkas con un amigo ruso. Cuando nos despedimos en Serbia, pensábamos que no lo volveríamos a ver, pero ¡lo encontramos DE NUEVO en Sofía! Esta vez fuimos a un tour gratuito por la ciudad, donde probamos comida local búlgara. Cenamos en un restaurante típico con una chica americana y un chico de Irán, 
								todos del mismo hostel. Ese abrazo de despedida fue uno de los más dolorosos durante todo el viaje. ¡David es una persona increíble! Le echamos mucho de menos.</p>
						</div>
						<footer>
							<a href="https://www.spanish.hostelworld.com/blog/historias-de-viajeros-reales-que-te-daran-mas-ganas-de-conocer-el-mundo/" class="button alt ">Ver más</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{> footer }}

	</body>
</html>