<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ titulo }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="back/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			{{> header }} 

		<!-- Nav -->
			{{> navbar }}

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>Viaje por carretera</h1>
					</header>
				</div>
				<a href="" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Escrito por Beulah</h2>
							<p>05.03.2020</p>
						</header>
						<div class="content">
							<p>Bertha Ringer conoció a Karl Benz en un momento delicado en la vida del fabricante. Benz cometió el error de unirse a August Ritter para lanzar el Taller de Fundición de Hierro y Mecánica de Mannheim. Ritter era un socio empresarial poco fiable y el primer año de la fábrica fue un desastre. Bertha, una mujer rica e independiente, rescató a Benz. Después de casarse, Bertha ya no pudo controlar su propia riqueza, pero siguió apoyando las ambiciones de su marido, tanto como socia de negocios como innovadora en automoción.</p>
						</div>
						<footer>
							<a href="https://www.catawiki.com/es/stories/5925-la-historia-de-la-mujer-que-invento-los-viajes-por-carretera" class="button alt">Ver más</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Learn More</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Hacer historia</h2>
							<p>12.08.1888</p>
						</header>
						<div class="content">
							<p>Quizá la contribución más significativa de Bertha fue aportar el cerebro de marketing que lamentablemente Benz no tenía. Si bien Benz era un brillante ingeniero –inventó el primer automóvil utilizable: el Benz Patent Motorcar–, se encontraba perdido a la hora de presentar sus creaciones al mundo. Los primeros intentos de mostrar el Benz Patent Motorcar se estancaron (literal y figuradamente), y los competidores de Benz se iban poniendo al día. Bertha decidió tomar cartas en el asunto, y un soleado día de agosto de 1888 se propuso hacer historia completando el primer viaje por carretera.</p>
						</div>
						<footer>
							<a href="https://www.catawiki.com/es/stories/5925-la-historia-de-la-mujer-que-invento-los-viajes-por-carretera" class="button alt">Ver más</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>La ruta del primer viaje por carretera</h2>
							<p>13.08.1888</p>
						</header>
						<div class="content">
							<p>En un mundo actual de vuelos de larga distancia y viajes épicos por la Ruta 66, el viaje de Bertha de Mannheim a Pforzheim no resulta tan impresionante. No obstante, en 1888 fue innovador. La ruta era de 106 km, una distancia nunca antes recorrida por un automóvil. Tal hazaña, con total seguridad, iba a llamar la atención de los entusiastas del motor de todo el mundo. El motivo oficial de Bertha para recorrer la ruta era visitar a su madre, pero no cabe duda de que deliberadamente se propuso hacer una demostración correcta de la invención de su marido.</p>
						</div>
						<footer>
							<a href="https://www.catawiki.com/es/stories/5925-la-historia-de-la-mujer-que-invento-los-viajes-por-carretera" class="button alt">Ver más</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Learn More</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Los problemas</h2>
							<p>13.08.1888</p>
						</header>
						<div class="content">
							<p>A Bertha la acompañaron sus dos hijos adolescentes, Richard y Eugene, pero no le dijo a su marido que pensaba llevarse su Patent-Motorwagen n.º 3 a dar una vuelta. Se consideró un movimiento bastante atrevido, pues en ese momento se esperaba que las mujeres contaran con el consentimiento de sus maridos (en algunos casos requerido legalmente) para aventurarse a realizar viajes largos. En su lugar, Bertha le dejó una nota a Benz y salió a la carretera. Por supuesto, no era una carretera como las que conocemos hoy. Para viajar por vías polvorientas y no asfaltadas diseñadas para utilizar con caballos Bertha tuvo que emplear cada gramo de ingenio ingenieril para mantener el coche en marcha, incluyendo el uso de una horquilla para limpiar un conducto de combustible bloqueado.</p>
						</div>
						<footer>
							<a href="https://www.catawiki.com/es/stories/5925-la-historia-de-la-mujer-que-invento-los-viajes-por-carretera" class="button alt">Ver más</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			{{> footer }}

	</body>
</html>